/* FULLSCREEN HERO IMAGE */
.hero-container {
    background-image: url('/image/upperbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* full screen height */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* needed for overlay */
}

/* TEXT ON TOP OF IMAGE */
.hero-overlay {
    text-align: left;
    color: white;
    padding: 40px;
    border-radius: 10px;
    position: absolute; /* allows positioning inside hero */
    top: 120px; /* distance from top */
    left: 40px; /* distance from left */
}

    .hero-overlay h1, h2 {
        font-size: 60px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .hero-overlay h2 {
        color: #927c75;
    }

    .hero-overlay p {
        font-size: 20px;
    }
